@import "tailwindcss";

:root {
  --verdeOscuro: #0d5e4aff;
  --verdeClaro: #4c956cff;
  --blanco: #FDFDFC;
  --melon: #ffc9b9ff;
  --orange: #d68c45ff;
}

@theme inline {
  --color-verdeOscuro: var(--verdeOscuro);
  --color-verdeClaro: var(--verdeClaro);
  --color-blanco: var(--blanco);
  --color-melon: var(--melon);
  --color-orange: var(--orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background-color: var(--color-salvia);
}